body{
    background-color: mintcream;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: darksalmon;
}

.cropmj {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.cropmj img {
    width: 100%;
    height: 300px;
    margin: -75px 0 0 -100px;
}

.croplbj {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.crolbj img {
    width: 100%;
    height: 300px;
    margin: -75px 0 0 -100px;
}


.lbj{
    margin-left: 0%;
    width: 90%;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid mediumblue;
}

.mj{
    margin-left: 0%;
    width: 90%;
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid mediumblue;
}

#main { 
    width: 80%;
    margin: 0 auto;
    margin-left: 12%;
}

.goat{
    float: left;
    width: 50%;
}

h2{
    background-color: mediumblue;
    color: white;
}

li {
    margin: 2px 0;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.win{
    color: #00573F;
}

.lose{
    color: #AA0000;
}



